# Import

In [1]:
#First we import the necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set ()
import scipy
import scipy.stats
import statistics

In [2]:
#we load the data set
df = pd.read_csv("seismic-bumps.csv")

In [3]:
#We show the dataset
df

,seismic,seismoacoustic,shift,genergy,gpuls,gdenergy,gdpuls,hazard,nbumps,nbumps2,nbumps3,nbumps4,nbumps5,nbumps6,nbumps7,nbumps89,energy,maxenergy,class
0,a,a,N,15180,48,-72,-72,a,0,0,0,0,0,0,0,0,0,0,0
1,a,a,N,14720,33,-70,-79,a,1,0,1,0,0,0,0,0,2000,2000,0
2,a,a,N,8050,30,-81,-78,a,0,0,0,0,0,0,0,0,0,0,0
3,a,a,N,28820,171,-23,40,a,1,0,1,0,0,0,0,0,3000,3000,0
4,a,a,N,12640,57,-63,-52,a,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2579,b,a,W,81410,785,432,151,b,0,0,0,0,0,0,0,0,0,0,0
2580,b,a,W,42110,555,213,118,a,0,0,0,0,0,0,0,0,0,0,0
2581,b,a,W,26960,540,101,112,a,0,0,0,0,0,0,0,0,0,0,0
2582,a,a,W,16130,322,2,2,a,0,0,0,0,0,0,0,0,0,0,0
2583,a,a,W,12750,235,-10,-10,a,0,0,0,0,0,0,0,0,0,0,0

In [4]:
#An array of the column names
df.columns

Index(['seismic', 'seismoacoustic', 'shift', 'genergy', 'gpuls', 'gdenergy',
       'gdpuls', 'hazard', 'nbumps', 'nbumps2', 'nbumps3', 'nbumps4',
       'nbumps5', 'nbumps6', 'nbumps7', 'nbumps89', 'energy', 'maxenergy',
       'class'],
      dtype='object')

In [5]:
# Convert categorical features in numerical values ('a', 'b', 'c', 'd' --> 0, 1, 2, 3)

# change the type of the column in categorical
df.seismic = pd.Categorical(df.seismic)
df.seismoacoustic = pd.Categorical(df.seismoacoustic)
df['shift'] = pd.Categorical(df['shift'])
df.hazard = pd.Categorical(df.hazard)

# convert category in numerical value
df.seismic = df.seismic.cat.codes
df.seismoacoustic = df.seismoacoustic.cat.codes
df['shift'] = df['shift'].cat.codes
df.hazard = df.hazard.cat.codes

In [7]:
def getnums(s, e,i):
   return (np.arange(s, e,i))

# Driver Code
start, end, intval = 0, 2584,1
time= getnums(start, end,intval)
print(time)
df2 = df.assign(time=time)

[   0    1    2 ... 2581 2582 2583]

In [8]:
df2.columns = df2.columns.str.replace('energy', 'magnitude')

In [9]:
df2= df2[['magnitude', 'time']]

In [10]:
df2

      magnitude  time
0             0     0
1          2000     1
2             0     2
3          3000     3
4             0     4
...         ...   ...
2579          0  2579
2580          0  2580
2581          0  2581
2582          0  2582
2583          0  2583

[2584 rows x 2 columns]

In [11]:
df2 = df2.loc[df2['magnitude'] != 0]

In [13]:
df2

      magnitude  time
1          2000     1
3          3000     3
6          1000     6
7          4000     7
9           500     9
...         ...   ...
2554      90000  2554
2555        600  2555
2567       6000  2567
2569       1000  2569
2573        200  2573

[1120 rows x 2 columns]

In [14]:
df2.to_csv('new-seismic-bumps.csv', index=False)